<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product-list.css">

  </head>
  <body>
    <!-- header -->
    <header class = "header">
      <%- include('../includes/nav.ejs') %>
      <div class = "head-body "></div>
    </header>
    <!-- end of header -->

    <div class = "products">
            <div class = "product-container">
                <% if (prods.length > 0) { %>

                <div class = "product-items">
                    <!-- single product -->
                    <% for (let product of prods) { %>
                    <!-- single product -->
                    <div class = "product">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                            </div>
                            <div class = "product-btns">
                                <form action="/cart" method="post">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn-cart" type="submit">
                                        Add to Cart
                                        <span><i class = "fas fa-plus"></i></span>
                                    </button>
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                </form>
                            </div>
                        </div>

                        <div class = "product-info">
                            
                            <a href = "#" class = "product-name"> <%= product.title %></a>
                            <p class = "product-price">$ <%= product.price %></p>
                        </div>

                        <div class = "off-info">
                            <h2 class = "sm-title">25% off</h2>
                        </div>
                    </div>
                    <% } %>
                    <!-- end of single product -->
                </div>
                 <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                 <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
            </div>
        </div>

    <%- include('../includes/footer.ejs') %>
  <%- include('../includes/end.ejs') %>